<!DOCTYPE html>

<html class="theme-light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
  <body >
    <header>
        <br>
        <h1 class="title has-text-centered is-1">WEBHOOK</h1>
        <hr>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>


<style>
  .card {
    margin-bottom: 20px;
  }
  body {
    background-color: f0f0f0;
  }
  .title.is-1 {
    color: darkblue;
    background-color: skyblue;
    padding: 20px;
  } 
</style>
